
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    min-width: fit-content;
    height: 100vh;
    min-height: fit-content;
}

body {
    width: 100vw;
    min-width: fit-content;
    height: 100vh;
    min-height: fit-content;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


::-webkit-scrollbar {
    width: 0;
}

.main {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 50px;
}

.contents {
    width: 100%;
    height: calc(100% - 50px);
}

